@charset "utf-8";
/* CSS Document */

body
{
	width:100%;
	height:auto;
	padding:0px;
	margin:0px;
	
}
#topbg
{
	width:100%;
	height:7px;
	margin:0px;
	padding:0px;
	background-color:#009;
	background-repeat:repeat-x;
	
}
#topheader
{
	width:100%;
	height:183px;
}
#logo
{
	float:left;
	margin-left:11%;
	margin-top:5%;
	
	
}
#topmenu
{
	float:right;
	
	padding-right:15%;
}

#topmenu span
{
	padding-top:1%;
	padding-left:5px;
	text-transform:uppercase;
	
	
}
#topmenu span img
{
	padding-top:2%;
	margin-left:10px;
	
	
	
}
#topmenu span a
{
	font-size:13px;
	font-family:"Times New Roman", Times, serif;
	color:#930;
	text-decoration:none;
}
#nav
{
	width:100%;
	height:auto;
	padding-top:10%;
	 padding-left:300px;
	 background-image:url(../images/nav_bg.jpg);
	 background-repeat:no-repeat;
	 background-position:center;
	 
	 right:150;
	
}
